.tst-sidenav {
    min-height: 100vh;
    color: var(--first-color);
    background-color: var(--sidenav-background);
    .tst-logo {
        background-color: var(--sidenav-logo-bg);
        height: 3.325rem;
        display: flex;
        align-items: center;
        padding: 0px 1.5rem;
        .logo {
            width: 1.5rem;
        }
        button {
            background-color: transparent;
            border: none;
        }
        h4 {
            margin-bottom: 0;
            flex: 1 1 auto;
        }
    }
}
